<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="{{url_for('static',filename='tooplate-style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">

    <title>Identifier les maladies des plantes</title>
    <!--

    Template 2107 New Spot

	http://www.tooplate.com/view/2107-new-spot

    -->
</head>

<body>
    <div class="tm-container mx-auto">

        <section id="tm-section-2" class="tm-section pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 tm-flex-center-v tm-text-container tm-section-left">
                        <h2 class="tm-color-secondary mb-4">Riz</h2>
                        <p class="mb-4"> Cultivé en Asie, le riz est aujourd’hui consommé à travers le monde entier où il constitue la base 
                            de l’alimentation pour environ la moitié de la population.
                            Le riz est une céréale d'origine asiatique qui pousse dans toutes les régions humides et ensoleillées. 
                            Le plant de riz est une graminée qui pousse généralement dans l'eau et produit une panicule contenant 100 à
                             200 grains de riz.
                            </p> <p class="spip"> Le riz est semé puis repiqué quand il atteint la bonne hauteur (20 à 30 cm).
                        </p> <p class="mb-5">La rizière est 
                            alors inondée. Une fois la floraison terminée, elle est asséchée et la récolte se fait.</p>
                        <p class="text-right mb-0">
                            <a href="/inputcotton" class="btn tm-btn-secondary">Continue...</a>
                        </p>
                    </div>
                    <div class="col-xl-7 col-lg-6 tm-circle-img-container">
                        <img src="static/cotton-plant-leaves-1.jpg" alt="Image" class="rounded-circle tm-circle-img">
                    </div>
                </div>
            </div>
        </section>


        <section class="tm-section tm-section-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tm-bg-circle-white tm-flex-center-v">
                            <header class="text-center">
                                <h1 class="tm-site-title">Plante de maïs </h1>
                            </header>
                            <p>L'agriculture constitue l'épine dorsale de notre pays et les pertes de récoltes dues aux maladies des plantes sont un facteur majeur contribuant à la réduction du rendement des cultures.
                                à la réduction du rendement des récoltes. Les méthodes de réseaux de neurones artificiels (ANN) avec des algorithmes intelligents pour l'identification des maladies des plantes sont 
                                la nécessité du moment pour réduire la gravité des pertes et minimiser les problèmes de santé des cultures.
                                Les méthodes de réseaux neuronaux artificiels (ANN) avec des algorithmes intelligents pour l'identification des maladies des plantes 
                                sont indispensables pour réduire la gravité des pertes et minimiser les problèmes de santé des cultures.</p>
                            <p class="text-center mt-4 mb-0">
                                <a data-scroll href="/inputcorn" class="btn tm-btn-secondary">Continue...</a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section id="tm-section-2" class="tm-section pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 tm-flex-center-v tm-text-container tm-section-left">
                        <h2 class="tm-color-secondary mb-4">Plante de coton</h2>
                        <p class="mb-4"> L'objectif principal du projet est d'identifier si une feuille de coton donnée est malade ou non et, si elle est malade, d'identifier la maladie.maladie.
                             Nous avons considéré trois maladies principales - Alternaria Macrospora, la brûlure bactérienne et le mildiou gris.
                            </p> <p class="spip">Ce projet aidera les agriculteurs à identifier les maladies de la feuille de coton.
                        </p> <p class="mb-5">Ce projet aidera les agriculteurs à reconnaître les plants de coton qui sont frais et malades  
                            en téléchargeant simplement les photos des plants de coton sur l'application web.</p>
                        <p class="text-right mb-0">
                            <a href="/inputcotton" class="btn tm-btn-secondary">Continue...</a>
                        </p>
                    </div>
                    <div class="col-xl-7 col-lg-6 tm-circle-img-container">
                        <img src="static/cotton-plant-leaves-1.jpg" alt="Image" class="rounded-circle tm-circle-img">
                    </div>
                </div>
            </div>
        </section> -->

        <!-- <section id="tm-section-3" class="tm-section tm-section-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 tm-section-2-right">
                        <div class="tm-bg-circle-white tm-bg-circle-pad-2 tm-flex-center-v">
                            <header>
                                <h2 class="tm-color-primary">Maladie de la vigne</h2>
                            </header>
                            <p>Nous avons développé un nouvel environnement de fusion de recommandations pour obtenir une solution instantanée 
                                sur les maladies ou les infections des raisins normaux. Nous avons conçu le système de recommandation par le biais 
                                de l'évaluation pour l'utilisateur final qui souhaite une solution instantanée pour commander des médicaments sur 
                                la base de recommandations. Ce système est développé à partir des évaluations données par les utilisateurs finaux et 
                                il est capable de trouver une solution instantanée.</p>
                            <p class="text-center mt-4 mb-0">
                                <a data-scroll href="/inputgrape" class="btn tm-btn-secondary">Continue...</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->


        <section id="tm-section-4" class="tm-section pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 tm-flex-center-v tm-text-container tm-section-left">
                        <h2 class="tm-color-secondary mb-4">Maladies de la pomme de terre</h2>
                        <p class="mb-4">La pomme de terre est l'une des principales cultures vivrières dans le monde. De nombreuses maladies affectent
                             la croissance des plants de pommes de terre. Des maladies notables sont observées dans la région des feuilles de cette plante. 
                             Deux maladies foliaires courantes et populaires des plants de pommes de terre sont le mildiou précoce (EB) et le mildiou tardif (LB). 
                             Cependant, si ces maladies étaient identifiées à un stade précoce de la culture, elles ne pourraient pas être détectées,  
                             Cependant, si ces maladies étaient identifiées à un stade précoce, cela serait très utile pour améliorer la production de cette culture.
                            </p>
                        <p class="mb-5">Pour résoudre ce problème en détectant et en analysant ces maladies, le traitement d'images est la meilleure option..</p>
                        <p class="text-right mb-0">
                            <a href="/inputpotato" class="btn tm-btn-secondary">Continue...</a>
                        </p>
                    </div>
                    <div class="col-xl-7 col-lg-6 tm-circle-img-container">
                        <img src="static/potato1.jpg" alt="Image" class="rounded-circle tm-circle-img">
                    </div>
                </div>
            </div>
        </section>


        <section id="tm-section-5" class="tm-section tm-section-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 tm-section-2-right">
                        <div class="tm-bg-circle-white tm-bg-circle-pad-2 tm-flex-center-v">
                            <header>
                                <h2 class="tm-color-primary">Maladie de la tomate </h2>
                            </header>
                            <p> La tomate est la culture la plus populaire au monde et dans toutes les cuisines, on la trouve sous différentes formes, 
                                quelle que soit la cuisine. Après la pomme de terre et la patate douce, c'est la culture la plus répandue dans le monde. 
                                Cependant, la qualité et la quantité de la récolte de tomates diminuent en raison de différents types de maladies. Ainsi, 
                                pour détecter la maladie, une approche basée sur l'apprentissage profond est faite dans ce projet. </p>
                            <p class="text-center mt-4 mb-0">
                                <a data-scroll href="/inputtomato" class="btn tm-btn-secondary">Continue...</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <section class="tm-section pt-2 pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 tm-flex-center-v tm-section-left">
                        <form action="#" class="tm-contact-form" method="POST">
                            <div class="form-group mb-4">
                                <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Votre Nom" required/>
                            </div>
                            <div class="form-group mb-4">
                                <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Votre Email" required/>
                            </div>
                            <div class="form-group mb-5">
                                <textarea rows="5" id="contact_message" name="contact_message" class="form-control" placeholder="Message..." required></textarea>
                            </div>
                            <div class="form-group mb-0 text-right">
                                <button type="submit" class="btn tm-btn-primary tm-send-btn">Envoyer</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-8 col-lg-8 tm-circle-img-container tm-contact-right">
                        <img src="static/images/cr_1.jpg" alt="Image" class="rounded-circle tm-circle-img">
                    </div>
                </div>
            </div>
        </section>


        <footer class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="small mb-4 tm-footer-text">Copyright &copy; 2021 | Created By | <a rel="nofollow" href="#" class="tm-footer-link">Junior Kaningini</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
<!--    <script src="js/smooth-scroll.polyfills.min.js"></script>-->

    <script src="static/smooth-scroll.polyfills.min.js"></script>

    <!-- https://github.com/cferdinandi/smooth-scroll -->
    <script>
        var scroll = new SmoothScroll('a[href*="#"]', {
            easing: 'easeInOutQuart',
            speed: 800
        });
    </script>
</body>
</html>